.list {
  list-style-type: none;
  word-spacing: 20px;
}

.Specifiksida {
  font-size: 40px;
  display: block;
}

.Bilartext {
  display: inline;
  font-size: 25px;
}

.kundkorg {
  border-style: ridge;
  border-color: blue;
  background-color: rgb(50, 90, 255);
  border-width: 10px;
  border-radius: 20px;
  text-align: center;
  color: white;
}

.meny {
  border-style: ridge;
  border-color: yellow;
  background-color: #ED638D;
  border-width: 12px;
  border-radius: 0px;
  height: auto;
  text-align: center;
  color: white;
  font-size: 26px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.cred {
  border-style: inset;
  color: white;
  border-color: black;
  background-color: black;
  font-size: 15px;
  text-align: right;
  margin: none;
}

.nyheter {
  font-size: 26px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.dropdown{
  font-size: 26px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

.Ahlgrensbilar {
  word-spacing: normal;
  text-align: center;
  font-size: 22px;
}

.bild {
  max-width: 80%;
  height: 240px;
}

.logga {
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding-left: 0px;
  width: 7%;
  Height: auto;
}

.överstruken {
  color: red;
  text-decoration: line-through;
}
