.list{
  list-style-type: none;
  word-spacing:20px;
}

.Specifiksida{
  font-size: 40px;
  display: block;
}

.Bilartext{
  display: inline;
  font-size: 25px;
}

.kundkorg{
  border-style: ridge;
  border-color: blue;
  background-color: rgb(50,90,255);
  border-width: 10px;
  border-radius: 20px;
  text-align: center;
  color: white;
}
