.list{
  list-style-type: none;
  word-spacing:20px;
}

.Specifiksida{
  font-size: 40px;
  display: block;
}

.Bilartext{
  display: inline;
  font-size: 25px;
}

.kundkorg{
  border-style: ridge;
  border-color: blue;
  background-color: rgb(50,90,255);
  border-width: 10px;
  border-radius: 20px;
  text-align: center;
  color: white;
}

.meny{
  border-style: ridge;
  border-color: yellow;
  background-color: #ED638D;
  border-width: 12px;
  border-radius: 0px;
  height: auto;
  text-align: center;
  color: white;
}

.cred{
  border-style:inset;
  color: white;
  border-color: black;
  background-color: black;
  font-size: 15px;
  text-align: right;
  margin: none;
}
